<!DOCTYPE html>
<html ng-app="recetaApp">
    <head>
        <meta charset="utf-8">
        <title>Receta Plato</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
    </head>
    <body>
        <div ng-controller='recetaCtrl'>
            <h1>{{titulo}}</h1>
            <table>
                <tr>
                    <th> Nombre Receta  </th>
                    <th> Fecha Creacion </th>
                    <th> </th>
                    <th> </th>
                </tr>
                <tr ng-repeat="recetaPlato in recetaPlatos">
                    <th> {{recetaPlato.name}} </th>
                    <th> {{recetaPlato.date}} </th>
                    <th> 
                        <button ng-click="removeRecetaAng(recetaPlato._id, $index)"> Delete </button>
                        <a href="/viewsUse/receta.html"> Edit </a>
                    </th>
                </tr>
            </table>
            
            <form ng-submit="newRecetaAng()">
                <input type="text" placeholder="Introducir Nueva Receta o Plato" ng-model="nombreReceta"></input>
                <input type="submit" > </input>
            </form>
        </div>
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/jsUse/app.js"></script>
    <script type="text/javascript" src="/jsUse/services/recetaFactory.js"></script>
    <script type="text/javascript" src="/jsUse/controllers/recetaController.js"></script>
</html>
