div
 | 4 tazas de líquido = 1 litro
   2 tazas de líquido = 1/2 litro
   1 taza de líquido = 1/4 litro
   1 taza = 16 cucharadas
   Una cucharada (sopera) al ras = 15 mililitros.
   Una cucharadita (de postre) al ras = 5 mililitros.
   Un huevo pequeño = 50 gr.
   Una cucharada de mantequilla = 30 gr.
   Una manzana = 150 gr.
   Una rebanada de pan = 30 gr.
   Una cucharada (sopera) de azúcar = 30 / 35 gr.
   Una cucharada (sopera) de harina = 15 / 20 gr.
   Una cucharada (sopera) de aceite de oliva = 14 gr.
   Una cucharada (sopera) de arroz = 20 / 25 gr.
   Una cucharada (sopera) de café molido = 15 / 18 gr.
   1 taza de harina = 100 gr.
   1 cucharada de harina = 25 gr.
   1 taza de mantequilla = 200 gr.
   1 taza de azúcar granulada = 190 gr.
   1 taza de azúcar en polvo = 80 gr.
   1 taza de maicena = 125 gr.