extends ../layout

block content
  body(ng-app="myRecetaApp")
    div(ng-include="'/views/login'")
    
    div(ng-controller="tabsController").row
      div.col-md-6.center-block.center-verct.no-float.center-text.row
        nav.tabs-color
          ul.no-padding-left.tabs-style.text-center
            li(ng-repeat="tab in tabs | filter: { tabTemp: 'Y' }", ng-class="{'cambioColor': isActiveTab(tab.template) }", 
               ng-click="onClickTab(tab)").sizeButton.col-md-4.tabLi.no-padding-hor {{tab.title}}
        div(ng-include="currentTab").row
      div.col-md-12.footer.no-padding-hor.adapt-margin.row
        a(ng-click="backButton(currentTab)")#backButton.col-md-4.pacifico.btn.btn-lg.active.button-back-gr.sizeButton {{ nameBack }}
        a(ng-click="fowardCostIngr(currentTab)").col-md-4.col-md-offset-4.pacifico.btn.btn-lg.active.button-back-gr.sizeButton {{ nameFoward }}
        
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js")
  
  script(src ="/clientUse/js/myRecetaApp.js")
  script(src ="/clientUse/js/services/recipeFactory.js")
  script(src ="/clientUse/js/services/loginFactory.js")
  script(src ="/clientUse/js/services/modifyHtmlService.js")
  script(src ="/clientUse/js/controllers/loginController.js")
  script(src ="/clientUse/js/controllers/tabController.js")
  script(src ="/clientUse/js/controllers/recipeController.js")
  script(src ="/clientUse/js/controllers/costIngrController.js")
  script(src ="/clientUse/js/controllers/costRecipeController.js")
  
  