extends layout

block content
  body(ng-app="myRecetaApp")
    div(ng-include="'/views/login'")
    
    div(ng-controller="mainController").col-md-6.center-block.center-verct.no-float.center-text
      div(ng-show="isUserConnected")
        input(type="text", placeholder='Filtrar Receta', ng-model="search")
        div( ng-repeat=("recipe in Recipes | filter:search track by $index") ).animate-repeat 
          {{ recipe.nameRecipe }}
      h1
        p(ng-click="redirect('/recetaNva')", ng-disabled="isDisable4Login").pacifico.btn.btn-lg.active.button-back-gr Calcular Receta o Plato
    
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js")
  
  script(src ="/clientUse/js/myRecetaApp.js")
  script(src ="/clientUse/js/services/loginFactory.js")
  script(src ="/clientUse/js/services/recipeFactory.js")
  script(src ="/clientUse/js/controllers/loginController.js")
  script(src ="/clientUse/js/controllers/mainController.js")