div(ng-controller="mainController")
  div(ng-show="princTempl").col-md-6.center-block.center-verct.no-float.center-text
    div(ng-show="isUserConnected")
      input(type="text", placeholder='Filtrar Receta', ng-model="search")
      div( ng-repeat=("recipe in Recipes | filter:search track by $index") ).row.animate-repeat 
        p.col-xs-12.col-sm-6.col-md-8 {{ recipe.nameRecipe }}
        div.col-xs-6.col-md-4
          button(type="button", ng-click="removeRecipe(recipe._id)").buttonAlert
            span(class="glyphicon glyphicon-remove colorDelete")
          button(type="button", ng-click="updActive(recipe._id)").buttonAlert
            span(class="glyphicon glyphicon-pencil colorEdit")
    div.row
      h1
        p(ng-click="CalcNvaReci()", ng-disabled="isDisable4Login").pacifico.btn.btn-lg.zoomText.button-back-gr Calcular Receta o Plato
  div(ng-hide="princTempl")
    div.row
      div.col-md-6.center-block.center-verct.no-float.center-text.row
        nav.tabs-color
          ul.no-padding-left.tabs-style.text-center
            li(ng-repeat="tab in tabs | filter: { tabTemp: 'Y' }", ng-class="{'cambioColor': isActiveTab(tab.template) }", 
               ng-click="onClickTab(tab)").sizeButton.col-md-4.inline-block.no-padding-hor.zoomText {{tab.title}}
        div(ng-include="currentTab").row
      div.col-md-12.footer.no-padding-hor.adapt-margin.row
        a(ng-click="backButton(currentTab)")#backButton.col-md-4.pacifico.btn.btn-lg.button-back-gr.sizeButton.zoomText {{ nameBack }}
        a(ng-click="fowardButton(currentTab)").col-md-4.col-md-offset-4.pacifico.btn.btn-lg.button-back-gr.sizeButton.zoomText {{ nameFoward }}